.containerbtn {
  display: flex;
  justify-content: center;
}

.btnImg {
  align-items: center;
  font-family: 'Playfair Display';
  font-size: 14px;
  border-radius: 25px;
  height: 35px;
  width: 50%;
  color: white;
  background-color: #4898BF;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: 0.3s;
  border: none;
}

.btnImg:hover {
  box-shadow: 1px 1px 200px #252525;
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #3c7fa0;
}

.btnImg:active {
  transition: 0.2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}