.contenedorPadre {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .contenedorHijo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Ajusta este valor para agregar un espacio entre la imagen y la información de la fundación */
  }
  .contenedorInfo{
   
    width: 200vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: #f2e9e4;
  }

  .contenedorMision{
    
    width: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f2;
 
  }

  .contenedorComentarios{
    height: 150px;
    width: 200vh;
    background-color: #f7f7f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedorReviews{
    position: relative;
    width: 70vh;
    height: 50vh;
  }
  .Comentarios{
    border: solid 2px #1b1b1e;
    background-color: #f7f7f2;
    margin-top: 3rem;
    width: 100vh;
  }
  .imagenFundacion {
    width: 500px;
    height: 250px;
    margin-top: 1rem;
    margin-left: 3rem;
    background-color: #f8f9fa ;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .infoFundacion {
    
    width: 500px;
    height: 250px;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  
  .mision {
    
    margin-top: 20px;
    width: 150vh;
  }
  
  .reviews {
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .containerAnimales{
    width: 130vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%
  }
  .body{
    display: flex;
    justify-content: flex-end;
    background-color: #f7f7f2;
  }
  .botonInfo {
    position: absolute;

    right: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(https://e7.pngegg.com/pngimages/470/616/png-clipart-computer-icons-setting-icon-white-computer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .contenedorAdopciones{
    position:relative;
  }
  