.divPagination {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.pagePagination {
  border-radius: 15px;
  color: black;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #4898BF;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.438);
  transition: 0.3s;
  margin-bottom: 20px;
}

.pagePagination:hover {
transform: translateY(-5px);
background-color: #3b7d9e;
}





/* .Pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  background-color: #ffffff;
  opacity: 0.9;
  box-shadow: 0px 4px 10px #0000001a;
  margin-bottom: -20px;
}

.PageNumbers {
  display: flex;
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.PageNumber {
  background-color: #900C3E;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 4px;
}

.PageInfo {
  color: #000000;
  font-size: 14px;
  margin: 0 8px;
} */
/* Esta es la que usabamos*/
/* 
.pagePagination{
  border-radius: 20px;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: .8rem;
  margin-bottom: .3rem;
  box-shadow: 0 8px 32px 0 rgba(180, 249, 4, 0.794);
} */

/* .divPagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagePagination {
  border: none;
  color: #555;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}

.pagePagination:hover {
  background-color: #ddd;
} */