.devCard {
  display: inline-block;
  width: 80%; 
  box-sizing: border-box;
  padding: 10px;
}
.backContainer {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 1px;
  justify-items: center;
  align-items: start;
  margin-bottom: 20px;
}

.frontContainer {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-gap: 1px;
  justify-items: center;
  align-items: start;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 25px;
  color: #C70039;
}

.sub {
  font-size: 30px;
  margin-bottom: 25px;
  color: #000000;
}

.name {
  font-size: 25px;
  margin-bottom: 5px;
  margin-bottom: -10px;
  text-align: center;
}

.info {
  font-size: 15px;
  margin-bottom: 5px;
  margin-bottom: -10px;
  text-align: center;
}

.content {
background-color: #ffffff;
border-radius: 8px;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.195);
width: 230px;
text-align: center;
}



.imageContainer {
  display: block;
  text-align: center;
  height: 200px;
  width: 200px;
}

.image {
  max-width: 50%;
  max-height: 50%;
  border-radius: 15px;
  transition: transform 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image:hover {
  transform: scale(1.1); 
}

.button {
  border-radius: 10px;
}

.button-image1 {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/Linkedin.png");
}

.button-image2 {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/Github.png");
}