.custom-navbar {
  background-color: rgb(237, 230, 230);
    /* Ajusta la altura automáticamente según el contenido */
    padding-top: 5px;
    /* Añade un espacio superior */
    padding-bottom: 5px;
margin-bottom: 20px;
}

.navBarItem {
  width: 100%;
}

.logo-container {
  flex: 0 0 auto;
  display: flex;
    align-items: center;
    max-width: 200px;
    /* Ajusta el tamaño máximo del logo según tus necesidades */
    margin: 0 auto;
}

.logo {
  width: 200px;
  height: auto;
}
@media (max-width: 768px) {
  .logo {
    max-width: 80%;
  }
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgb(237, 230, 230);
      padding: 10px;
      z-index: 999;
    }
            .navbar-nav {
              display: flex;
              flex-direction: column;
            }
      
            .nav-link {
              margin: 5px 0;
            }
}

.custom-navbar .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.custom-navbar .navbar-collapse {
  justify-content: space-evenly;
    /* justify-content: flex-end; */
}

.custom-navbar .nav-link {
  font-size: 23px;
  /* Ajusta el tamaño de fuente según tus necesidades */
}

.container{
  margin-left: 0;
  margin-right: 0;
}

.navbar-expand-lg{
  justify-content: space-evenly;
}

