.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  background-image: url('../../assets/Background1.1.png');
  background-size: cover;
  background-position: bottom center;
  height: 100hv;
}

.caja {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffffb0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #000000;
  border-width: 3px;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
}

.img {
  height: 250px;
  width: 250px;
}

.sub {
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.selectoresWrapper {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
  align-items: center;
  margin-left: -8px;
}

.marca {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.selectoresWrapper>* {
  margin: 10px;
}

@media (max-width: 768px) {
  .selectoresWrapper {
    flex-direction: column;
    /* Cambia a una disposición vertical en dispositivos con un ancho máximo de 768px */
  }
}

.divSelector {
  font-family: "Trebuchet MS",
    Arial,
    Helvetica,
    sans-serif;
  ;
  color: #000000;
}

.options {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 15px;
  color: black;
  background-color: white;
  margin-left: 10px;
  height: 25px;
  cursor: pointer;
}


.containerFiltros {
  display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
}




.containerAnimales>* {
  flex-basis: 25%;
}


.container h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #2b2a2a;
  width: 100%;
  margin-top: 10px;
  margin-left: -30px;
}

.container label {
  color: black
}

.radioOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.radioImg {
  height: 40px;
  width: 45px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.radioImg:hover {
  transform: scale(1.1);
}

.radioImg2 {
  height: 40px;
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.radioImg2:hover {
  transform: scale(1.1);
}

.aZ {
  border-radius: 15px;
  color: black;
  background-color: white;
  transition: background-color 0.3s;
  transition: transform 0.3s;
  justify-content: left;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
}

.aZ:hover {
  background-color: #4898BF;
  border: none;
  transform: translateY(2px);
}

.paginationContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  /* Muestra los botones en la misma línea */
  justify-content: center;
  /* Centra los botones horizontalmente */
  align-items: center;
  /* Centra los botones verticalmente */
  margin-top: 1rem;
  /* Añade un espacio superior entre el contenedor de tarjetas y el paginado */
}

.button {
  margin: 0 0.5rem;
  width: 60px;
  height: 30px;
  border-radius: 80px;
  border: none;
  background-color: transparent;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.438);
  transition: 0.3s;
  margin-bottom: 20px;
}

.buttonImg {
  height: 40px;
  width: 60px;
  margin-top: -5px;
}

.button:hover {
  transform: translateY(-5px);
}

.pagination button:first-child {
  margin-right: 10px;
}

.pagination button:last-child {
  margin-left: 10px;
}

.cardContainer {
  display: flex;
  margin-top: 20px;
}

.cont2 {
  margin-bottom: 20px;
}

.cont1 {
  margin-top: -15px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 20px;
  margin-left: 6px;
  /* Ajusta el espacio en el lado izquierdo */
  margin-right: -5px;
  /* Ajusta el espacio en el lado derecho */
}

.cardContainer>* {
  flex: 1 0 5%;
  margin: 10px;
  box-sizing: border-box;
  /* Asegura que el margen esté dentro del ancho de la tarjeta */
}

@media (max-width: 768px) {
  .cardContainer>* {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
  }
}
@media (max-width: 768px) {
  .caja {
    align-items: flex-start;
    padding: 10px 20px;
  }
}

  /* .containerAnimales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */