.container {
  background-image: url("../../../assets/Background1.1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(235, 235, 222);
  padding: 2em;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
  width: 22.5%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.heading {
  color: black;
  padding-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: large;
  margin-bottom: 0;
}

.input {
  border-radius: 5px;
  border: 1px solid rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  width: 245px;
  outline: none;
  padding: 0.3em;
  transition: 0.4s ease-in-out;
}

.input:hover {
  box-shadow: 4px 4px 0px #969696, -2px -2px 8px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.form .btn {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 8px;
  height: 35px;
  width: 245px;
  color: #ffffff;
  background-color: #333;
  font-weight: bolder;
  margin-top: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form .btn:hover {
  box-shadow: 1px 1px 200px #252525;
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form .btn:active {
  transition: 0.2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.errors {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}
