.containerFundaciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 100px;
  left: 0;
  right: 0;
  background-image: url('../../assets/Background1.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 90vh;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  background-color: #f59657b0;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.ordenar {
  font-size: large;
  font-family: 'Playfair Display';
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.aZ {
 border-radius: 15px;
 color: black;
 background-color: white;
}

.asDs {
border-radius: 15px;
color: black;
background-color: white;
}