.card-container {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
}

.card {
  margin: 10px;
  width: 300px;
  /* Puedes ajustar el valor según tus necesidades */
}
.card-title-highlight {
  color: rgb(235, 162, 140);
  /* Cambia el color del título a rojo */
  font-size: 40px;
  /* Cambia el tamaño de fuente del título */
  font-weight: bold;
  /* Cambia el estilo de fuente a negrita */
  justify-content: center;
}
.fundaciones-container{
  justify-content: space-around;
}

.card-info {
  font-size: 16px;
margin-bottom: 10px;
}

.card-fundacion {
    display: flex;
      flex-direction: column;
      flex-grow: 1;
  flex: 0 0 300px;
    /* Ajusta el ancho deseado para cada card */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  
}

.fundacion-image {
  max-width: 100%;
  height: 40%;
  margin-top: 10px;
  object-fit: contain;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.imgFund{
  max-height: 200px;
}

.carousel .control-arrow {
  background-color: #000;
  /* Cambia el color de fondo de las flechas */
  opacity: 1;
  /* Ajusta la opacidad de las flechas */
}

.carousel .control-arrow:hover {
  background-color: #ff0000;
  /* Cambia el color de fondo al pasar el mouse sobre las flechas */
}

.title-container {
  text-align:start;
  font-family: Oswald, sans-serif;
}
.card-title-highlight{
  font-size: 30px;
}
.carousel{
  margin-top: 15px;
  margin-bottom: 30px;
}
.carousel .slider-wrapper .slider .control-dots .dot::before {
  background-color: #000;
  /* Cambia el color de fondo a tu preferencia */
  opacity: 1;
  /* Ajusta la opacidad según tus necesidades */
}

.image-container {
  margin: 10px;
  /* Agrega el margen deseado */
}

.btn.btn-primary{
  background-color: rgb(157, 127, 92);
  
}

.favorite-icon {
  width: 1.5em;
  /* Ajusta el tamaño según tus necesidades */
  height: 1.5em;
  /* Ajusta el tamaño según tus necesidades */
  vertical-align: middle;
  
 
}
.card-title{
  font-family: Oswald, sans-serif;
}

