@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';



.card-container {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.card {
  margin: 10px;
  width: 300px;
    height: 200px;
      /* Ajusta esta altura según tus preferencias */
      overflow: auto;
      background-color: rgb(247, 239, 230) !important;
      
}
.card-title-highlight {
  /* color: rgb(235, 162, 140); */
  /* Cambia el color del título a rojo */
  font-size: 40px;
  /* Cambia el tamaño de fuente del título */
  font-weight: bold;
  /* Cambia el estilo de fuente a negrita */
  justify-content: center;
}

.card-info {
  font-size: 14px;
margin-bottom: 10px;
}

.card-fundacion {
  display: flex;
      flex-direction: column;
      flex-grow: 1;
  flex: 0 0 300px;
    /* Ajusta el ancho deseado para cada card */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  
}

.fundacion-image {
  max-width: 100%;
  height: 40%;
  margin-top: 10px;
  object-fit: contain;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.imgFund{
  max-height: 200px;
}

.carousel .control-arrow {
  background-color: #000;
  /* Cambia el color de fondo de las flechas */
  opacity: 1;
  /* Ajusta la opacidad de las flechas */
}

.carousel .control-arrow:hover {
  background-color: #ff0000;
  /* Cambia el color de fondo al pasar el mouse sobre las flechas */
}

.title-container {
  text-align:start;
  font-family: Oswald, sans-serif;
}
.card-title-highlight{
  font-size: 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.carousel{
  margin-top: 15px;
  margin-bottom: 30px;
}
.carousel .slider-wrapper .slider .control-dots .dot::before {
  background-color: #000;
  /* Cambia el color de fondo a tu preferencia */
  opacity: 1;
  /* Ajusta la opacidad según tus necesidades */
}

.image-container {
  margin: 10px;
  /* Agrega el margen deseado */
}

.button1{
  background-color: rgb(106, 33, 128);
  
}
.image{
  width: 280px;
  height: 172px;
}

.favoriteIcon {
  width: 1.5em;
  /* Ajusta el tamaño según tus necesidades */
  height: 1.5em;
  /* Ajusta el tamaño según tus necesidades */
  vertical-align: middle;
  
  
}
.card-title{
  font-family: Oswald, sans-serif;
  text-align: center;
  color: #000 !important;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit:fill;
  border-radius: 15px;
}
.card-text{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.card-container-mascota{
display: inline-flex;
/* flex-direction: column; */
margin-top: 40px;
margin: 0
}
.wrapperMascota {
justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0;
    /* background-color: rgb(247, 226, 193); */
    height: 400px;
    border-radius: 20px;
    flex-direction: row-reverse;
}

.fundaciones-container{
    justify-content: space-around;
    margin-top: 40px;
      align-items: center;
      display: flex;
      margin: 0;
      /* background-color: rgb(122, 180, 206); */
      height: 400px;
      border-radius: 20px;
  }

  .titlemascotitas{
    display: block;
    
  }
